<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Block of statements</h1></center>
    <!---
    <h1>if and else block statements</h1>
    {% if a > b %}
        <h1>if block is exeguted</h1> <i>a=30 and b=30 then if  block exeguted <i>
        <h1>{{a}} is highest</h1>
        {% else %}
            <h1>else block is exeguted</h1>  <i>a=20 and b=30 then else block exeguted <i>
            <h1>{{b}} is highest</h1>
        {% endif %}
         
        ---->


<!----

        <h1> if elif blocks statements</h1>
    {% if a > b and a > c %}
                <h1>if block is exeguted</h1>
                <h1>{{a}} is highest</h1> <i>if a=40,b=30,c=20 then else block exeguted</i>
    {% elif b > c %}
                <h1>elif block is exeguted</h1>
                <h1>{{b}} is highest</h1>  <i>if a=20,b=40,c=30 then elif block exeguted</i>
    {% else %}
                <h1>else block is exeguted</h1>
                <h1>{{c}} is the highest</h1> <i>if a=20,b=30,c=40 then else block exeguted</i>
    {% endif %}
   
        ---->





    <h1> nested if block statements</h1>
    {% if a > b %}
        {% if a > c %}
            <h1> inner if block of if block  is exeguted</h1>
            <h1>{{a}} is highest</h1> <i>a=40,b=30,c=20 here a is highest </i>
        {% else %}
            <h1>inner else block of if block</h1>
            <h1>{{c}} is the highest</h1> 
        {% endif  %}
    {% else %}
        {% if b > c %}
            <h1>inner if block of else block is exeguted</h1>
            <h1>{{b}} is highest </h1>   <i>a=20,b=40,c=30 here b is highest </i>
        {% else %}
            <h1>inner else block of else block is exegute</h1>
            <h1>{{c}} is the highest</h1>
        {% endif  %}
    {% endif %}




</body>
</html>
<style>
    body
    {
        margin: 0%;
        background: black ;
    }
    h1
    {
        background-color: white;
        color: red;
        width: 100%;
        border: 5px solid cyan;
    }
</style>