<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Looping statements is executed</h1>
    <h1>For loop operation</h1>
    {% for i in name %}
        <h1>{{i}}</h1>
    {% endfor %}
</body>
</html>
    <style>
        body
        {
            margin: 0%;
            background:linear-gradient(to right,red,yellow,green) ;
        }
        h1
        {
            background:linear-gradient(to right,rgb(255, 0, 212),yellow,rgb(15, 175, 255));
            color:rgb(0, 17, 255) ;
            width: 100%;
            border: 5px solid rgb(0, 45, 248);
            font-size: 50px ;
            text-align: center;
            margin-top: 5px;
        }
    </style>